body {
    margin: 0;
    background: maroon;
    box-sizing: border-box;
}

.background-wrapper {
    background: url('images/pinkperfume.jpg') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
     background-position: center 30%; /* for the bg picture to be centered */
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.alert-info {
    background-color: rgba(255, 228, 196, 0.15);
    color: #ffdfb3;
    border: 1px solid #ffdfb3;
}

.register-box {
    background: rgba(121, 4, 4, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.register-left {
    flex: 1 1 60%;
    padding: 40px;
}

.register-right {
    flex: 1 1 40%;
    background: rgba(255, 249, 170, 0.815);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.register-right p {
    color: rgb(158, 24, 19);
}

.register-right h3 {
    font-weight: 600;
    color: rgb(136, 10, 6);
}

h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
}

.form-control {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.85); 
    border-radius: 10px;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.85) !important;
    opacity: 1 !important;
}

.form-control:focus {
    background: rgba(245, 218, 167,0.15);
    box-shadow: none;
    color: #fff;
}

.btn-login {
    background-color: bisque;
    color: #000;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid bisque;
}

a {
    color: bisque;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.alert {
    text-align: center;
}

@media (max-width: 768px) {
    .register-box {
        flex-direction: column;
        max-width: 95%;
    }

    .register-right {
        display: none;
    }
}
