.order-form {
    background: #fff;
    padding: 25px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .order-form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .order-form input,
  .order-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .order-form button {
    background-color: #a3495a;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .order-form button:hover {
    background-color: #842A3B;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .orders-table th, .orders-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .orders-table th {
    background-color: #f4f4f4;
    color: #662422;
  }
  
  .orders-table .perfume-select {
    width: 300px !important;
    max-width: 100%;
  }
  
  .orders-table input[type="number"] {
    width: 100px;
    padding: 6px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .delete-icon {
    width: 20px; /* choose 20px or 24px */
    height: 20px;
    cursor: pointer;
  }
  .delete-icon:hover {
    opacity: 0.7;
  }
  
  .add-btn, .submit-btn {
    margin-top: 15px;
    padding: 10px 18px;
    background-color: #a3495a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .add-btn:hover, .submit-btn:hover {
    background-color: #842A3B;
  }
  
  .grand-total {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #662422;
  }
  
  .customer-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .customer-card h4 {
    margin-bottom: 10px;
    color: #662422;
  }
  
  .customer-info, .anonymous-info {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
  }
  
  .customer-info strong {
    color: #a3495a;
  }
  
  .modal {
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
  }
  .modal-content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
  }
  .close {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  #discountSection { 
    margin-top: 8px; 
}
  .small-btn { 
    padding:6px 10px; 
    font-size:0.9rem; 
    cursor:pointer; 
}
  .orders-table select { 
    min-width: 260px; 
}